.container {
  width: 90vw;
}

.row {
  display: flex;
  width: 100%;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

.col-quarter {
  flex-basis: 25%;
}

.space-around {
  justify-content: space-around;
}

.col-full,
.col-half,
.col-quarter {
  margin: 0 auto;
}
